<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.conditional.min.css"
  />
    <link href="/css/findAcc.css" rel="stylesheet"/>
    <link href="/css/header.css" rel="stylesheet"/>
    <link href="/css/common.css" rel="stylesheet"/>
    <!--menu icon
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
      </svg>-->
      
    <title>아이디/ 비밀번호 찾기</title>
</head>
<body> 
    <div class="site-cover overlay" style="background-image: url(/img/index_img.jpg); background-position: 50% -25px;">
        <!--header와 밑에 div 모든 html에 추가되야함.-->
        <header th:replace="~{fragments/header::header}"/>
        <div class="sidebar-wrap"><div th:replace="~{fragments/sideNav::sidebar}"/></div>
        
        
</body>