<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/style.css" rel="stylesheet">
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.conditional.min.css"
  />
    <link href="/img/elephant.png" rel="shortcut icon" type="image/x-icon">

    <!--menu icon
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
      </svg>-->
      
    <title>Session Home</title>
</head>
<body>
    <div class="Container2">
        <header th:replace="~{fragments/header::header}"/>
        
        <section class="Content">
            <div id="Search_recipe" class="box">
                <div class="back">재료 검색</div>
                <div class="front"></div>
            </div>
            
            <div id="Make_recipe" class="box">
                <div class="back">레시피 등록</div>
                <div class="front"></div>
            </div>
        </section>
    </div>

    <script src="/js/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
</body>