<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/img/elephant.png" rel="shortcut icon" type="image/x-icon">

    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.conditional.min.css"
  />
    <title>login</title>
</head>
<body class="noscroll">
    <header th:replace="~{fragments/header::header}"/>
    
    <div id="loginBox" class="centerBox pico">
        <form th:action="@{/login}" method="post" th:object="${User}">
            Login ID: <input type="text" id="loginId" th:field="*{loginId}" class="form_input" /> <br/>
            Login Password: <input type="text" id="password" th:field="*{password}" class="form_input" /> <br/>
            <button type="submit">Login</button>
        </form>
    </div>  

    <script>
        let message = "[[${msg}]]";
        if (message != "") {
            alert(message);
        }
    </script>
</body>
</html>