<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/img/elephant.png" rel="shortcut icon" type="image/x-icon">
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.conditional.min.css"
  />

    <title>my page</title>
</head>
<body class="noscroll">
    <header th:replace="~{fragments/header::header}"/>
    <div class="emptyBox"></div>
    
    <div class="container pico"> 
        <div id="userImg" class="item"><img src="/img/pen.jpg" th:src="@{${imagePath}}"/></div>
        <div id="userName" class="item" ><strong><u><span th:text="userName"></span></u></strong></div>
        <div class="infoTitle">Self-introduce:<article id="introduce" class="item"><sapn th:text="${introduce}"></article></div>
        <div id="userItem">
            <div class="infoTitle">Email:<article id="email" class="item"><span th:text="${eamil}"></span></article></div>

        </div>
    </div>

    <script src="/js/index.js"></script>
</body>