<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">

    
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.conditional.min.css"
    /> 
    <link href="/css/recipe.css" rel="stylesheet"/>
    <link href="/css/header.css" rel="stylesheet" />
    <link href="/css/common.css" rel="stylesheet" />

    <title>Recipe</title>

    <style>
        #foodImg{ background-image: url("[[${picture}]]") ;}
    </style>
</head>

<body>
    <header th:replace="~{fragments/header::header}"/>
    <div class="sidebar-wrap"><div th:replace="~{fragments/sideNav::sidebar}"/></div>
    
    <div class="emptyBox"></div>
    <div class="recipe_container" th:object="${recipe}">
        <div id="foodImg" class="item">
            <div id="blur">
                <!--<div id="recommend" class="display-flex">
                    <form><button type="button"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-bookmark-fill" viewBox="0 0 16 16">
                        <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2"/>
                        </svg></form>
                    
                </div>-->
                <div id="foodName" class="display-flex justify-content-center align-items-center text-center">
                    <span th:text="*{title}"></span>
                </div>
            </div>
        </div>
        <hr/>
        <ul class="pico">
            <li id="ingredients"><h2><strong>Ingredients</strong></h2>
                <ul>
                    <li  th:text="${ingredient}" th:each="ingredient : ${ingredients}"></li>        <!--ingredients는 따로 컨트롤러에서 List로 만들어서 보내야됨-->
                </ul>
            </li>
            <hr/>
            <li id="recipeDetail"><h2><strong>Recipe</strong></h2>
                <ol>
                    <li th:text="${num}" th:each="num : *{manuals}"></li>
                </ol>
            </li>
            <hr />
            <li id="others"><h2><strong>Others</strong></h2>
                <ul>
                    <li th:text="${other}" th:each="other : ${others}"></li>
                </ul>
            </li>    
            <hr/>
        </ul>
        <section class="comment justify-content-center display-flex pico">
            <div class="card">
                <div class="card-body">
                    <div id="user-info"><div class="name" th:text="${session.user != null ? session.user.memberNick : 'Unknown'}"></div></div>
                    <!-- 컨트롤러까지 갖춰졌을 때의 Comment form
                    <form class="comment-form" th:action="@{/Wimr/recipe/{recipeno}/submitComment(id=${recipe.recipeno})}" th:object="${comment}" method="post">
                        <textarea th:field="*{content}" id="comment-content-input" rows="3" placeholder="댓글을 입력해주세요" maxlength="300" style="resize: none;"></textarea> 
                        <div id="char-count">0/300</div>
                        <div id="comment-btn-wrap" class="display-flex justify-content-center"><button type="button" id="comment-submit-btn" onclick="comment_check()"><span class="flexible-font-size">등록</span></button></div>
                    </form>-->
                    <!-- Comment form-->
                    <form class="comment-form">
                        <textarea id="comment-content-input" rows="3" placeholder="댓글을 입력해주세요" maxlength="300" style="resize: none;"></textarea> 
                        <div class="comment-sub-wrap flexible-font-size">
                            <div id="char-count">0/300</div>
                            <div id="comment-btn-wrap" class="display-flex justify-content-center"><button type="button" id="comment-submit-btn" onclick="comment_check()"><span class="flexible-font-size">등록</span></button></div>
                        </div>
                    </form>
                    <hr/>
                    <!-- Comment with nested comments-->
                    <div class="comments-box">  <!--th:each="comment: ${comments}" th:object="${comment}">-->
                        <div class="comment-box">
                            <div class="commenter display-flex">
                                <div class="display-flex"><img style="height: 23px; border-radius: 50%;" src="/img/userDefaultImg.png"/><div class="name"><!--th:text="*{commenter.name}">-->작성자 이름</div></div>
                                <div class="date"><!--th:text="*{date}"-->2024-05-19 15:42</div>
                            </div>
                            <div class="comment-main-area">
                                <div class="comment-content"><!--th:text="*{content}">-->이거 정말 맛있어요!</div>
                            </div>
                        </div>
                        <div class="comment-box">
                            <div class="commenter display-flex">
                                <div class="display-flex"><img style="height: 23px; border-radius: 50%;" src="/img/userDefaultImg.png"/><!--th:src="*{commenter.img}"--><div class="name"><!--th:text="*{commenter.name}">-->Commenter Name</div></div>
                                <div class="date"><!--th:text="*{date}">-->2024-05-19 15:42</div>
                            </div>
                            <div class="comment-main-area">
                                <div class="comment-content "><!--th:text="*{content}">-->If you're going to lead a space frontier, it has to be government; it'll never be private enterprise. Because the space frontier is dangerous, and it's expensive, and it has unquantified risks.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <script src="/js/recipe.js"></script>
    <script src="/js/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
</body>