<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/style.css" rel="stylesheet">

    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.conditional.min.css"
  /> 
    <link href="/img/elephant.png" rel="shortcut icon" type="image/x-icon">
    <title>Recipe</title>

    <style>
        #foodImg{ background-image: url("[[${foodImg}]]") ;}
    </style>
</head>

<body id="recipeBody">
    <header th:replace="~{fragments/header::header}"/>

    <div class="Container2 pico">
        <div class="emptyBox">hidden</div>
        <div class="inner_container">
            <div id="foodImg" class="item"><div id="blur"><span id="foodName" th:text="${foodName}">food name</span></div></div>
            <hr />
            <ul>
                <li id="ingredients"><h2><strong>Ingredients</strong></h2> <br/> 
                    <ul>
                        <li th:each="ingredient : ${ingredients}" th:text="${ingredient}"></li>
                    </ul>
                </li>
                <hr/>
                <li id="recipeDetail"><h2><strong>Recipe</strong></h2> <br/> 
                    <span th:each="num : ${recipe}">
                        <span th:text="${num.index+1}"></span>: <span th:text="${num}"></span> <br/>
                    </span>
                </li>
                <hr />
                <li id="others"><h2><strong>Others</strong></h2></li>
            </ul>
        </div>
    </div>

    <script src="/js/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
</body>