<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/img/elephant.png" rel="shortcut icon" type="image/x-icon">
    <title>Session Home</title>
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.conditional.min.css"
  />

</head>
<body class="noscroll">
    <header th:replace="~{fragments/header::header}"/>
    
    <div id="registerBox" class="centerBox pico">
        <form th:action="@{/register}" method="post" th:object="${User}">
            ID: <input type="text" id="loginId" th:field="*{loginId}" class="form_input" /> <br/>
            Password: <input type="text" id="password" th:field="*{password}" class="form_input" /> <br/>
            email: <input type="text" id="email" th:field="*{email}" class="form_input" /> <br/>
            <button type="submit">register</button>
        </form>
    </div>

    <script src="/js/index.js"></script>
</body>
</html>