<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>게시글 상세페이지</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.conditional.min.css"
    />
    <link href="/img/elephant.png" rel="shortcut icon" type="image/x-icon" />
  </head>
  <body>
    <header th:replace="~{fragments/header::header}"></header>
    <div class="board_wrap">
      <h2 th:text="${board.title}">제목입니다</h2>
      <p th:text="${board.content}">내용이 들어갈 부분</p>
      <div class="btn">
        <a th:href="@{/boardDelete(id=${board.id})}" id="delete">글 삭제</a>
        <a th:href="@{/boardModify(id=${board.id})}"></a>
        <a th:href="@{/boardList}">목록 보기</a>
      </div>
    </div>
  </body>
</html>
