<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
  </head>
  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="align-items-center">
      <div class="logo">
        <h1 class="brandName">
          <a href="/Wimr"><span>미슐랭장고</span></a>
        </h1>
      </div>
      <!-- ========= Nav =========-->
      <nav id="navbar" class="navbar Header-font-size">
        <ul>
          <li><a href="/Wimr/foodSelect">레시피 검색</a></li>
          <li><a href="/boardList">게시판</a></li>
          <li class="dropdown">
            <a><span>My</span></a>
            <ul>
              <li class="pico text-center">
                <div>
                  <div class="before-login" th:if="${user==null}">
                    <button class="login-btn" onclick="redirectToPage('/Wimr/login')">로그인 하기</button>
                    <a id="toRegister" href="/Wimr/register"><span>회원가입</span></a>
                  </div>
                  <div class="my-info after-login" th:if="${user!=null}">
                    <div class="text-center">
                      <p>안녕하세요,</p>
                      <p th:text="|${user.memberNick}님|" class="underline"></p>
                      <form th:action="@{/Wimr/logout}" method="post">
                        <button class="logout-btn" type="submit">로그아웃</button>
                      </form>
                    </div>
                  </div>
                </div>
              </li>
              <li th:if="${user!=null}"><a href="/Wimr/myPage">마이페이지</a></li>
            </ul>
          </li>
        </ul>
      </nav>
      <!-- .navbar -->
      <div id="mobile-nav-toggle" class="menu">
        <div class="bar x-top"></div>
        <div class="bar x-middle"></div>
        <div class="bar x-bottom"></div>  
      </div>
    </header>
    <!-- End Header -->
  </body>
      </nav>
      <!-- .navbar -->
    </header>
    <!-- End Header -->
  </body>
</html>

