<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <link href="/css/style.css" rel="stylesheet" />
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header
      id="header"
      class="fixed-top d-flex align-items-center"
      th:fragment="header"
    >
      <div class="logo">
        <img style="width: 100%" src="/img/elephant.png" />
        <h1 class="text-light">
          <a href="../home.html"
            ><span>What's in <br />my 냉장고</span></a
          >
        </h1>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="" href="index.html">재료 검색</a></li>
          <li><a href="about.html">레시피 등록</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <!-- .navbar -->
    </header>
    <!-- End Header -->
  </body>
</html>
