<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
  </head>
  <body>
    <sidebar id="sidebar" class="pico">
        <div>
          <div class="user-info display-flex">
            <div class="before-login display-flex" th:if="${user==null}">
              <button class="login-btn" onclick="redirectToPage('/Wimr/login')">로그인 하기</button>
              <div class="a-Register"><a href="/Wimr/register"><span>회원가입</span></a></div>
            </div>
            <div class="after-login" th:if="${user!=null}">
              <div><p>안녕하세요!&nbsp;<span th:text="${user.memberNick}" class="underline"></span>님</p></div>

            </div>
          </div>
          <ul>
            
            
            <li><a href="/Wimr/search">레시피 검색</a></li>
            <li><a href="/boardList">게시판</a></li>
            <li>c</li>
          </ul>
          <div class="logout">
            <form th:action="@{/Wimr/logout}" method="post">
              <a onclick="form_submit()">로그아웃</a>
            </form>
          </div>
        </div>
    </sidebar>
  </body>
</html>