/* body {
  background-color: darksalmon;
} */

#writeForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

table,
td,
tr {
  border: 1px solid black;
}

td:nth-child(odd) {
  background-color: #ddd;
  text-align: center;
}

input[type="text"],
textarea {
  width: 100%;
  height: calc(100%-10px);
  padding: 10px;
  border: none;
}

::placeholder {
  font-size: 14px;
}

#content {
  width: 800px;
  height: 400px;
}

textarea {
  resize: none;
}

h2 {
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

.btn {
  /* display: inline-block; */
  text-align: right;
}

.form-wrap {
  margin: 0 200px;
}

table {
  width: 100%;
}

/* .btn input[type="submit"] {
  display: inline-block;
  background-color: blue;
}

a > #canel {
  display: inline-block;
  background-color: blue;
} */
