@font-face {
  font-family: 'YEONGJUSeonbiTTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403@1.0/YEONGJUSeonbiTTF.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

:root{
  --window-width:0;
  --window-height:0;
}
body {
  min-width: 1500px;
  max-width: 3000px;
  width: 100vw;
  aspect-ratio: 140/75;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #4fa6d5;
  text-decoration: none;
}

a:hover {
  color: #45beff;
  text-decoration: none;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  min-width: 1400px;
  aspect-ratio: 32/1;
  width: 100%;
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: left;
  background: rgba(230, 57, 57, 0.9);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  /*border-radius: 40px 40px 0px 0px;*/
}

#header.header-transparent {
  background: none;
}

#header .logo{
  position: relative;
}

#header .logo h1 {
  font-family:  'YEONGJUSeonbiTTF';
  margin: 0;
  padding: 6px 0px 6px; /*위 좌-우 아래*/
  line-height: 1;
  font-weight: 500;
  letter-spacing: 2px; /*글자 간격*/
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#header .logo img {
  width:4%;
  height:auto;
  padding: 0;
  margin: 0;
  float: left;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  display: block;
  padding: 0;
  position: relative;
  right:5px;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 10px 30px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar li:focus{
  color: #a2cce3;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #a2cce3;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: -130px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  border-radius: 10px;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  color: #1c3745;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #68A4C4;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}



.Container2{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  /*border-radius: 40px;*/
  background: url("../img/index_img-1\ \(6\).jpeg") no-repeat center center local;
  background-size: cover;
  overflow: hidden;
}

.Contents{
  width: 100%;
}

.box{
  width: 20vw;
  min-width: 260px ;
  aspect-ratio: 1;
  padding: 0;
  font:600 60px 'YEONGJUSeonbiTTF';
  cursor: pointer;
  perspective: 1100px; 
  .front{
    position: absolute;
    width: 100%;
    height: 100%;
    border:3px solid black;
    
  }
  .back{
    width: 100%;
    height: 100%;
    position: absolute;
    backdrop-filter: blur(4px);
    opacity: 0;
  }
}

.box div{
  transition:.15s ;
}


.Contents #Search_recipe {
  position: relative;
  left:420px;top:43px;
  z-index: 1;
  div{
    color:rgb(216, 138, 20);
    
  }
}


.Contents #Make_recipe {
  position: relative;
  left:1000px; top:20px;
  z-index: 0;
  div{
    display: inline-block;
    color:rgb(33, 156, 46);
  }  
}

/*recipe css*/
#recipeBody{
}

#empty{
  visibility: hidden;
  height:100px;
  width: 1px;
}

.container{
  text-align: center;
}

.inner_container{
  position: relative;
  margin: 0 auto;
  background-color: #ffffff;
  width:100%;
  min-width: 600px;
  max-width: 1200px;
  border-radius: 20px;
  box-shadow: 2px 2px 13px -1px rgb(12, 12, 12);
}

#foodImg{
  width:100%;
  height:650px;
  /*background-image: url("[[${foodImg}]]");*/
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  border-radius: 20px 20px 20px 20px;

  #blur{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.363);
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
  }
}

#foodName{
  position:relative;
  z-index: 1;
  font:600 90px 'YEONGJUSeonbiTTF' ;
  color: aliceblue;
}

.inner_container ul li{
  text-align: left;
}


/*로그인*/
body#login{
  height:500px;
}
#loginBox{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  position: relative; 
  margin: 0;
}

#loginBox button{
  background-color: rgb(241, 56, 56);
}


